*.suo
*.user
*.userosscache
*.sln.docstates

# Отключение сборочных файлов
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Отключение файлов с описанием
*.pdb


# Отключение каталога версии vs
.vs/
